@model BAP.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<section class="section-98 section-sm-50 text-lg-left">
    <div class="shell">
        <div class="range range-xs-center range-xs-center">
            <div class="cell-sm-8 offset-top-66 offset-lg-top-0">
                <h3 class="text-uppercase text-bold">Enter your email.</h3>
                <hr class="divider hr-lg-left-0 bg-mantis">
                <form data-form-output="form-output-global" data-form-type="contact" method="post" class="text-left offset-top-30" action="@Url.Action("ForgotPassword", "Account")">                    
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="range">                        
                        <div class="cell-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "form-label form-label-outside rd-input-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-has-validation form-control-last-child", @type="text" })
                                <span class="form-validation"></span>                                
                            </div>
                        </div>
                        <div class="group-sm text-center text-lg-left offset-top-30">
                            <button type="submit" class="btn btn-primary" id="send">Email Link</button>                            
                        </div>                        
                    </div>                    
                </form>
            </div>
         </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}