@using BAP.Resources;
@using BAP.eCommerce.Resources;
@using BAP.UI.HtmlHelpers;
@using PagedList.Mvc;
@model PagedList.IPagedList<BAP.eCommerce.DAL.Entities.ShoppingCart>

@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = ResObject.EntityLabel_ShoppingCart;
    Dictionary<string, string> sortData = (Dictionary<string, string>)ViewBag.SortData;
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;
}

<!-- begin page-header -->
<h1 class="page-header">
    @ViewBag.Title<small></small>
</h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">@Resources.UIText_SearchResults</h4>
            </div>
            <div class="panel-body">
                <div id="data-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <form action="@Url.Action("MultirowActionForm")" role="row" method="post" id="MultirowActionForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="selectedAction" name="selectedAction" value="delete" />
                        <input type="hidden" id="page" name="page" value="@Model.PageNumber" />
                        <input type="hidden" id="pageSize" name="pageSize" value="@Model.PageSize" />
                        <input type="hidden" id="currentFilter" name="currentFilter" value="@currentFilter" />
                        <input type="hidden" id="currentSort" name="currentSort" value="@currentSort" />


                        <div class="row">
                            <div class="col-sm-7">
                                <button class="btn btn-sm btn-primary m-r-5" onclick="document.getElementById('MultirowActionForm').submit()">Delete</button>
                            </div>

                            <div class="col-sm-5 pull-right">
                                <label class="pull-right">
                                    Items per page <select id="data-table-length" name="data-table_length" aria-controls="data-table" class="form-control input-sm" onchange="OnpageSizeChange()">
                                        <option value="5" @(Model.PageSize == 5 ? "selected" : "")>5</option>
                                        <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                                        <option value="15" @(Model.PageSize == 15 ? "selected" : "")>15</option>
                                        <option value="20" @(Model.PageSize == 20 ? "selected" : "")>20</option>
                                        <option value="50" @(Model.PageSize == 50 ? "selected" : "")>50</option>
                                        <option value="100" @(Model.PageSize == 100 ? "selected" : "")>100</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-striped table-bordered dataTable no-footer dtr-inline">
                                    <thead>
                                        <tr>
                                            <th style="width:15px;"><input type="checkbox" id="check-all-rows" onchange="CheckAllChanged();" /></th>
                                            <th onclick="window.location = '@Url.Action("AdminIndex", new { page = 1, sortOrder = "", currentFilter = currentFilter, pageSize = Model.PageSize })';" title="Default Sort Order" style="cursor:pointer;">
                                                @Resources.UIText_Actions
                                            </th>                                            
                                            @Html.BapSortingHeaderFor(model => model.First().User, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().Subtotal, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().ShippingCost, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().TotalDiscounts, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().TaxTotal, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().Total, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().CreateDate, sortData, currentSort, "AdminIndex", "ShoppingCarts", "", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                        </tr>
                                    </thead>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" id="checkRow" name="checkRow" class="check-row" value="@item.Id" /></td>
                                            <td>
                                                <a title="@Resources.UIText_Details" style="text-decoration: none;" href="@Url.Action("AdminDetails", new {id=item.Id})">
                                                    <i class="glyphicon glyphicon-th-list" aria-hidden="true" style="color:black;"></i>
                                                </a>
                                                <a title="@Resources.UIText_Delete" style="text-decoration: none;" href="@Url.Action("Delete", new {id=item.Id})">
                                                    <i class="glyphicon glyphicon-remove" aria-hidden="true" style="color:black;"></i>
                                                </a>
                                            </td>                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.User.FullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Subtotal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShippingCost)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalDiscounts)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TaxTotal)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Total)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreateDate)
                                            </td>
                                        </tr>
                                    }

                                </table>
                            </div>
                        </div>
                        <!-- end panel -->
                        @if (Model.PageCount > 1)
                        {
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers pull-left" id="data-table_paginate">
                                        @Html.PagedListPager(Model, page => Url.Action("AdminIndex", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = Model.PageSize }))
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <label class="pull-right" style="margin: 5px 0;">
                                        Items per page <select id="data-table-length" name="data-table_length" aria-controls="data-table" class="form-control input-sm" onchange="OnpageSizeChange()">
                                            <option value="5" @(Model.PageSize == 5 ? "selected" : "")>5</option>
                                            <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                                            <option value="15" @(Model.PageSize == 15 ? "selected" : "")>15</option>
                                            <option value="20" @(Model.PageSize == 20 ? "selected" : "")>20</option>
                                            <option value="50" @(Model.PageSize == 50 ? "selected" : "")>50</option>
                                            <option value="100" @(Model.PageSize == 100 ? "selected" : "")>100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        }
                    </form>
                </div>
                <!-- end col-12 -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<script>
function OnpageSizeChange()
{
    var url = '@Url.Action("AdminIndex", new { page = 1, sortOrder = currentSort, currentFilter = currentFilter })';
    url = url.replace('&amp;', '&');
    url += "&pageSize=" + $('#data-table-length').val();
    window.location = url;
}

function CheckAllChanged()
{
    $('.check-row').prop("checked", $('#check-all-rows').is(':checked'));
}
</script>
