@model BAP.DAL.Entities.WorkflowStageTransition

<div class="form-group">
    @Html.LabelFor(model => model.FromStage.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.FromStage.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ToStage.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.ToStage.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Workflow.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.Workflow.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.ShortDescription)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.MainImageUrl, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.MainImageUrl)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.CreateDate)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.LastModifiedDate, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.LastModifiedDate)
    </div>
</div>