@using BAP.Resources;
@using PagedList.Mvc;
@using BAP.UI.HtmlHelpers;
@model PagedList.IPagedList<BAP.DAL.Entities.Message>

@{
    ViewBag.Title = Resources.EntityLabel_Messages;
    ViewBag.FullTextSearchAction = "/Administration/EventLogs";
    Dictionary<string, string> sortData = (Dictionary<string, string>)ViewBag.SortData;
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;
}

<!-- begin page-header -->
<h1 class="page-header">@ViewBag.Title<small></small></h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">@Resources.UIText_SearchResults</h4>
            </div>
            <div class="panel-body">
                <div id="data-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <form action="@Url.Action("MultirowActionForm")" role="row" method="post" id="MultirowActionForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="selectedAction" name="selectedAction" value="delete" />
                        <input type="hidden" id="page" name="page" value="@Model.PageNumber" />
                        <input type="hidden" id="pageSize" name="pageSize" value="@Model.PageSize" />
                        <input type="hidden" id="currentFilter" name="currentFilter" value="@currentFilter" />
                        <input type="hidden" id="currentSort" name="currentSort" value="@currentSort" />

                        <div class="dt-buttons btn-group">
                            <a href="javascript:document.getElementById('MultirowActionForm').submit();" class="btn btn-default buttons-html5 btn-sm" tabindex="1" aria-controls="data-table"><span>@Resources.UIText_Delete</span></a>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover table-striped table-bordered dataTable no-footer dtr-inline">
                                    <thead>
                                        <tr role="row">
                                            <th style="width:15px;"><input type="checkbox" id="check-all-rows" onchange="CheckAllChanged();" /></th>
                                            <th onclick="window.location = '@Url.Action("Index", new { page = 1, sortOrder = "", currentFilter, pageSize = Model.PageSize })';" title="Default Sort Order" style="cursor:pointer;">
                                                @Resources.UIText_Actions
                                            </th>
                                            @Html.BapSortingHeaderFor(model => model.First().CreateDate, sortData, currentSort, "Index", "Messages", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().FromAddress, sortData, currentSort, "Index", "Messages", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().ToAddress, sortData, currentSort, "Index", "Messages", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().Subject, sortData, currentSort, "Index", "Messages", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                            @Html.BapSortingHeaderFor(model => model.First().Object, sortData, currentSort, "Index", "Messages", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td><input type="checkbox" id="checkRow" name="checkRow" class="check-row" value="@item.Id" /></td>
                                            <td>
                                                <a title="@Resources.UIText_Details" style="text-decoration: none;" href="@Url.Action("Details", new {id=item.Id})">
                                                    <i class="glyphicon glyphicon-th-list"></i>
                                                </a>
                                                <a title="@Resources.UIText_Delete" style="text-decoration: none;" href="@Url.Action("Delete", new {id=item.Id})">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreateDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FromAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ToAddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Subject)
                                            </td>
                                            <td>
                                                @Html.ActionLink(item.Object, "AdminDetails", item.Object + "s", new { id = item.ObjectId }, new { target = "_blank" })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @if (Model.PageCount > 1)
                        {
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="dataTables_length" id="data-table_length">
                                        <label>
                                            Items per page <select id="data-table-length" name="data-table_length" aria-controls="data-table" class="form-control input-sm" onchange="OnpageSizeChange()">
                                                <option value="5" @(Model.PageSize == 5 ? "selected" : "")>5</option>
                                                <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                                                <option value="15" @(Model.PageSize == 15 ? "selected" : "")>15</option>
                                                <option value="20" @(Model.PageSize == 20 ? "selected" : "")>20</option>
                                                <option value="50" @(Model.PageSize == 50 ? "selected" : "")>50</option>
                                                <option value="100" @(Model.PageSize == 100 ? "selected" : "")>100</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="dataTables_info" id="data-table_info" role="status" aria-live="polite">Showing page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</div>
                                </div>

                                <div class="col-sm-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="data-table_paginate">
                                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = Model.PageSize }))
                                    </div>
                                </div>
                            </div>
                        }
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function OnpageSizeChange()
    {
        var url = '@Url.Action("Index", new { page = 1, sortOrder = currentSort, currentFilter })';
        url = url.replace('&amp;', '&');
        url += "&pageSize=" + $('#data-table-length').val();
        window.location = url;
    }

    function CheckAllChanged()
    {
        $('.check-row').prop("checked", $('#check-all-rows').is(':checked'));
    }
</script>

