@using BAP.Resources;
@model BAP.DAL.Entities.OrganizationUser
@{ 
    var viewState = ViewBag.ViewState;
    if (string.IsNullOrEmpty(viewState))
    {
        viewState = "Default";
    }
}
<section class="edit-box">    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.AccessFailedCount)
        @Html.HiddenFor(model => model.AddressLine1)
        @Html.HiddenFor(model => model.AddressLine2)
        @Html.HiddenFor(model => model.AspNetUserId)
        @Html.HiddenFor(model => model.CellNumber)
        @Html.HiddenFor(model => model.City)
        @Html.HiddenFor(model => model.Country)
        @Html.HiddenFor(model => model.County)
        @Html.HiddenFor(model => model.CreateDate)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.Email)
        @Html.HiddenFor(model => model.EmailConfirmed)
        @Html.HiddenFor(model => model.FirstName)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.LastModifiedBy)
        @Html.HiddenFor(model => model.LastModifiedDate)
        @Html.HiddenFor(model => model.LastName)
        @Html.HiddenFor(model => model.LockoutEnabled)
        @Html.HiddenFor(model => model.LockoutEndDateUtc)
        @Html.HiddenFor(model => model.MiddleName)
        @Html.HiddenFor(model => model.Organization)
        @Html.HiddenFor(model => model.OwnerGroup)
        @Html.HiddenFor(model => model.OwnerPermissions)
        @Html.HiddenFor(model => model.PhoneNumber)
        @Html.HiddenFor(model => model.State)
        @Html.HiddenFor(model => model.TenantUnit)
        @Html.HiddenFor(model => model.TenantUnitId)        
        @Html.HiddenFor(model => model.TwoFactorEnabled)
        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Zip)
        <legend>@Resources.UIText_ResetPassword</legend>
        <div class="form-group-wrapper">
            
            @if (viewState == "Default")
            {                
                <div class="form-group-subtitle">@Resources.UIText_ResetPasswordNotice <u>@Html.DisplayFor(model => model.UserName)</u><hr /></div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-success">@Resources.UIText_ResetPassword</button>
                        <input type="hidden" id="EditFormFlag" name="EditFormFlag" value="2" />
                    </div>
                </div>
            }
            else
            {
                <div class="form-group-subtitle">@string.Format(Resources.UIText_ResetPasswordConfirmation, Model.Email)</div>
                <div class="form-group row">
                    <div class="offset-md-2 col-md-10">
                        <button type="submit" class="btn btn-success">@Resources.UIText_Ok</button>
                        <input type="hidden" id="EditFormFlag" name="EditFormFlag" value="20" />
                    </div>
                </div>                
            }
        </div>
    }        
</section>
