@model BAP.eCommerce.DAL.Entities.Address

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.MiddleName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.AddressLine2, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.County, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.County, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="col-md-1">
        @Html.DisplayFor(model => model.PhoneExtension, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FaxNumber, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.CellNumber, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.CellNumber, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2">
        @Html.DisplayFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-8 col-sm-8">
        @Html.Raw(Model.Description)
    </div>
</div>

