@model BAP.DAL.Entities.LookupValue

<div class="form-group row">
    <div class="col-md-2">
        @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.LabelFor(model => model.CultureCode, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.CultureCode, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CultureCode, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-md-2">
        @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
    </div>
    <div class="col-md-10">
        @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", @min = 1 } })
        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
    </div>
</div>
