@using BAP.UI.HtmlHelpers
@using BAP.Lookups
@model BAP.DAL.Entities.Module
@{
    ILookupEngine engine = ViewBag.LookupEngineInstance;
}

<div class="form-group">
    @Html.LabelFor(model => model.Name, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.ShortDescription, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Enabled, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.Enabled, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Enabled, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.GlobalId, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
<div class="col-md-4">
    @Html.EditorFor(model => model.GlobalId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    @Html.ValidationMessageFor(model => model.GlobalId, "", new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Roles, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.Roles, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(model => model.BitMask, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
<div class="col-md-4">
    @Html.EditorFor(model => model.BitMask, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.BitMask, "", new { @class = "text-danger" })
</div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, DisplayOptions.Humanize, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "ckeditor" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>