@using BAP.Resources
@model BAP.DAL.Entities.WorkflowAction

@{    
    ViewBag.Title = Resources.UIText_Create + " " + @Resources.EntityLabel_WorkflowAction;
}

@using (Html.BeginForm())
{
    <!-- begin page-header -->
    <h1 class="page-header">
        <a href="@Url.Action("Index", "WorkflowActions", new { Area = "Administration"})" class="btn btn-square btn-default" title="@Resources.UIText_Back"><i class="fa fa-reply"></i></a>
        <button type="submit" class="btn btn-default btn-default btn-success" title="@Resources.UIText_Save"><i class="fa fa-floppy-o"></i></button>
        @ViewBag.Title<small></small>
    </h1>
    <!-- end page-header -->

    @Html.AntiForgeryToken()

	<!-- begin row -->
    <div class="row">
        <!-- begin col-12 -->
        <div class="col-md-12 ui-sortable">
            <!-- begin panel -->
            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                    <h4 class="panel-title">@Resources.EntityLabel_WorkflowAction @Resources.UIText_Details</h4>
                </div>
                <div class="panel-body panel-form">
                    <div class="form-horizontal form-bordered" data-parsley-validate="true" name="demo-form" novalidate>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.Partial("_EditFields")

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Resources.UIText_Create" class="btn btn-default btn-success" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
