@using BAP.Resources
@model BAP.DAL.Entities.BlogPost
@{
    ViewBag.Title = Resources.UIText_Edit;
}

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>


<div id="BlogPostEditModal@(Model.Id)" class="modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog modal-entity-select">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("Edit", "BlogPosts", FormMethod.Post, new { id = "editBlogPost" + Model.Id, enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="ModalTitle">@Resources.UIText_Edit @Resources.EntityLabel_BlogPost</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <!-- begin col-12 -->
                        <div class="col-md-12">
                            <div class="panel-body panel-form">
                                <div class="form-horizontal form-bordered" data-parsley-validate="true" name="post-form" novalidate>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.TenantUnit)
                                    @Html.HiddenFor(model => model.TenantUnitId)
                                    @Html.HiddenFor(model => model.BlogId)
                                    @Html.HiddenFor(model => model.CreateDate)
                                    @Html.HiddenFor(model => model.CreatedBy)
                                    @Html.HiddenFor(model => model.LastModifiedDate)
                                    @Html.HiddenFor(model => model.LastModifiedBy)
                                    @Html.HiddenFor(model => model.TimeStamp)
                                    @Html.HiddenFor(model => model.OwnerGroup)
                                    @Html.HiddenFor(model => model.OwnerPermissions)
                                    @Html.HiddenFor(model => model.CultureCode)
                                    @Html.HiddenFor(model => model.LocalizationId)
                                    @Html.HiddenFor(model => model.MainImageUrl)
                                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />

                                    @Html.Partial("_EditBlogPostFields")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="@Resources.UIText_Save" class="btn btn-default btn-success" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.UIText_Cancel</button>
                </div>
            }
        </div>
    </div>
</div>