@using BAP.Resources;
@using BAP.DAL.Entities;
@model Blog
@{
    int maxRowsToShow = 100;
    int rowsToShow = Model != null && Model.BlogPosts != null ? Model.BlogPosts.Count : 0;
    if (rowsToShow > maxRowsToShow)
    {
        rowsToShow = maxRowsToShow;
    }
}

<div class="form-group">
    <p>
        <a href="#" onclick="addBlogPost()" class="btn btn-icon btn-success btn-add-post" title="@Resources.UIText_Create @Resources.EntityLabel_BlogPost"><i class="fa fa-plus"></i></a>
        @Resources.EntityLabel_BlogPost
    </p>
</div>
@Html.Partial("_CreateBlogPost", new BlogPost { BlogId = Model.Id })

<div class="form-group">
    <div class="col-md-12 col-sm-12">
        <table class="table table-hover table-striped table-bordered dataTable no-footer dtr-inline">
            <thead>
                <tr>
                    <th>@Resources.UIText_Actions</th>
                    <th>@Html.LabelFor(model => model.BlogPosts.First().Title)</th>
                    <th>@Html.LabelFor(model => model.BlogPosts.First().ShortDescription)</th>
                    <th>@Html.LabelFor(model => model.BlogPosts.First().LastModifiedDate)</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < rowsToShow; i++)
                {
                    var item = Model.BlogPosts[i];
                    <tr>
                        <td>
                            <a title="@Resources.UIText_Details" style="text-decoration: none;" href="#" onclick="detailsBlogPost('@item.Id')">
                                <i class="glyphicon glyphicon-th-list"></i>
                            </a>
                            @Html.Partial("_DetailsBlogPost", item)
                            <a title="@Resources.UIText_Edit" style="text-decoration: none;" href="#" onclick="editBlogPost('@item.Id')">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            @Html.Partial("_EditBlogPost", item)
                            <a title="@Resources.UIText_Delete" style="text-decoration: none;" href="#" onclick="deleteBlogPost('@item.Id')">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                            @Html.Partial("_DeleteBlogPost", item)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastModifiedDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function addBlogPost() {
        var opt = {
            show: true,
            keyboard: true
        };
        $("#BlogPostAddModal").modal(opt);
    }

    function editBlogPost(id) {
        var opt = {
            show: true,
            keyboard: true
        };
        $("#BlogPostEditModal" + id).modal(opt);
    }

    function detailsBlogPost(id) {
        var opt = {
            show: true,
            keyboard: true
        };
        $("#BlogPostDetailsModal" + id).modal(opt);
    }

    function deleteBlogPost(id) {
        var opt = {
            show: true,
            keyboard: true
        };
        $("#BlogPostDeleteModal" + id).modal(opt);
    }
</script>
