@using BAP.Resources
@model BAP.DAL.Entities.Blog
@{
    ViewBag.Title = Resources.UIText_Delete + " " + Resources.EntityLabel_Blog;
}

<!-- begin page-header -->
<h1 class="page-header">
    <a href="@Url.Action("Index", "Blogs", new { Area = "Administration"})" class="btn btn-square btn-default" title="@Resources.UIText_Back"><i class="fa fa-reply"></i></a>
    @ViewBag.Title 
</h1>
<!-- end page-header -->

<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">@Resources.UIText_SureToDelete @(Resources.EntityLabel_Blog)?</h4>
            </div>
            <div class="panel-body panel-form">
                <div class="form-horizontal form-bordered" novalidate>
                    @Html.Partial("_ReadOnlyFields")

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="@Resources.UIText_Delete" class="btn btn-default btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
