@using BAP.UI.HtmlHelpers;
@model BAP.eCommerce.DAL.Entities.ProductOption

<div class="form-group">
	@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
	<div class="col-md-4 col-sm-4">
		@Html.DisplayFor(model => model.Name)
	</div>		
	@Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
	<div class="col-md-4 col-sm-4">
		@Html.DisplayFor(model => model.ShortDescription)
	</div>
</div>  
        
<div class="form-group">
	@Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
	<div class="col-md-4 col-sm-4">		
        @Html.BapDisplayEnum(Model.Type)
	</div>
	@Html.LabelFor(model => model.UserControl, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
	<div class="col-md-4 col-sm-4">		
        @Html.BapDisplayEnum(Model.UserControl)
	</div>
</div>  

<div class="form-group">
    @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-2 col-sm-2">
        @Html.DisplayFor(model => model.Enabled)
    </div>
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-6 col-sm-6">
        @Html.Raw(Model.Description)
    </div>
</div>  