@using BAP.UI.HtmlHelpers
@model BAP.eCommerce.DAL.Entities.Customer

<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.FirstName)
    </div>
    @Html.LabelFor(model => model.BillingAddress.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.LastName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.ContactEmail)
    </div>
    @Html.LabelFor(model => model.BillingAddress.CompanyName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.CompanyName)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.AddressLine1, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.AddressLine1)
    </div>
    @Html.LabelFor(model => model.BillingAddress.AddressLine2, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.AddressLine2)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.City, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.City)
    </div>
    @Html.LabelFor(model => model.BillingAddress.Zip, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.Zip)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.Country, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.Country)
    </div>
    @Html.LabelFor(model => model.BillingAddress.State, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.State)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.PhoneNumber)
    </div>
    @Html.LabelFor(model => model.BillingAddress.PhoneExtension, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.PhoneExtension)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.BillingAddress.CellNumber, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.CellNumber)
    </div>
    @Html.LabelFor(model => model.BillingAddress.FaxNumber, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.BillingAddress.FaxNumber)
    </div>
</div>