@using BAP.Resources
@model BAP.Web.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl, Area = Model.Area }, FormMethod.Post, new { role = "form" }))
{
    <div id="ForgotPasswordModal" class="modal fade" role="dialog">
        <div class="modal-dialog form-login">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resources.UIText_ForgotPassword</h4>
                </div>
                <div class="modal-body modal-form">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <p class="help-block">Enter the e-mail address associated with your account. Click submit to have your password e-mailed to you.</p>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer wrapper">
                    <div class="button-wrapper">
                        <input type="submit" value="@Resources.UIText_Submit" class="btn btn-theme" />
                        <input type="button" class="btn btn-default" id="closeForgotPassword" value="@Resources.UIText_Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#forgotPasswordModalLink").click(function () {
            var opt = {
                show: true,
                keyboard: true
            };
            $("#ForgotPasswordModal").modal(opt);
        });

        $("#showForgotPasswordModal").click(function () {
            $("#LoginModal").modal("hide");
            var opt = {
                show: true,
                keyboard: true
            };
            $("#ForgotPasswordModal").modal(opt);
        });

        $("#closeForgotPassword").click(function () {
            $("#ForgotPasswordModal").modal("hide");
        });

        $('#ForgotPasswordModal').on('shown.bs.modal', function () {
            $('#Email').focus();
            $('#Email').select();
        });
    });
</script>