@using BAP.Resources
@model BAP.Web.Models.RegisterViewModel

@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl, Area = Model.Area }, FormMethod.Post, new { role = "form" }))
{
    <div id="RegisterModal" class="modal fade" role="dialog">
        <div class="modal-dialog form-login rigister">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Resources.UIText_RegisterLink <a href="/">@Resources.UIText_ApplicationTitle</a></h4>
                </div>
                <div class="modal-body modal-form">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer wrapper">
                    <div class="form-group">
                        <a href="#" id="showLoginModal">@Resources.UIText_AlreadyHaveAccount</a>
                    </div>
                    <div class="button-wrapper">
                        <input type="submit" value="@Resources.UIText_Submit" class="btn btn-theme" />
                        <input type="button" class="btn btn-default" id="closeRegister" value="@Resources.UIText_Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#registerModalLink").click(function () {
            var opt = {
                show: true,
                keyboard: true
            };
            $("#RegisterModal").modal(opt);
        });

        $("#showRegisterModal").click(function () {
            $("#LoginModal").modal("hide");
            var opt = {
                show: true,
                keyboard: true
            };
            $("#RegisterModal").modal(opt);
        });

        $("#closeRegister").click(function () {
            $("#RegisterModal").modal("hide");
        });

        $('#RegisterModal').on('shown.bs.modal', function () {
            $('#Email').focus();
            $('#Email').select();
        });
    });
</script>