@model BAP.eCommerce.DAL.Entities.PaymentOption

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.Name)
    </div>
    @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.ShortDescription)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.Description)
    </div>
    @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.Enabled)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AsssemblyName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.AsssemblyName)
    </div>
    @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-4 col-sm-4">
        @Html.DisplayFor(model => model.ClassName)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PaymentContainerCss, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-10 col-sm-10">
        @Html.DisplayFor(model => model.PaymentContainerCss)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CustomConfigJson, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-10 col-sm-10">
        @Html.DisplayFor(model => model.CustomConfigJson)
    </div>
</div>
