@using BAP.Resources;
@model bool?

@if (Model != null && Model.Value)
{
    <div class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="footerLink">
                        <h5>@Resources.UIText_Gdpr_Header</h5>
                        <ul class="list-unstyled">
                            <li>@Resources.UIText_Gdpr_Text <a href="~/Content/Gdpr.pdf">@Resources.UIText_Gdpr_Link</a></li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="newsletter clearfix">
                        <form action="@Url.Action("ConfirmGdpr", "Account", new { Area = "eCommerce", ReturnUrl = Request.Url })" role="form" method="post">
                            <div class="input-group">
                                <button type="submit" class="pull-right btn btn-default">@Resources.UIText_Gdpr_Button</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}