@model BAP.Web.Models.SendCodeViewModel
@{
    ViewBag.Title = "Send code";
}

<section class="mainContent clearfix lostPassword">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>@ViewBag.Title</h3></div>
                    <div class="panel-body">
                        @using (Html.BeginForm("SendCode", "Account", new { Area = "eCommerce", ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("rememberMe", @Model.RememberMe)                                                        
                            <div class="form-group">
                                @Html.LabelFor(m => m.SelectedProvider, new { @class = "col-md-4 control-label" })
                                <div class="col-md-6">
                                    @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control" })
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-10">
                                    <input type="submit" value="Submit" class="btn btn-default btn-primary col-md-4" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
