@using BAP.Resources
@model BAP.DAL.Entities.State
@{
    ViewBag.Title = Resources.UIText_Create;
}
<div id="StateAddModal" class="modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog modal-entity-select">
        <!-- Modal content-->
        @using (Html.BeginForm("Create", "States", FormMethod.Post, new { id = "createState", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="ModalTitle">@Resources.UIText_Create @Resources.EntityLabel_State</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <!-- begin col-12 -->
                        <div class="col-md-12">
                            <div class="panel-body panel-form">
                                <div class="form-horizontal form-bordered" data-parsley-validate="true" name="post-form" novalidate>
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.CountryId)
                                    @Html.Partial("_EditStateFields")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" value="@Resources.UIText_Create" class="btn btn-default btn-success" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resources.UIText_Cancel</button>
                </div>
            </div>
        }
    </div>
</div>
