@using BAP.Resources
@using PagedList.Mvc;
@using BAP.UI.HtmlHelpers;
@model PagedList.IPagedList<BAP.DAL.Entities.NewsLetter>
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = Resources.EntityLabel_NewsLetter;
    Dictionary<string, string> sortData = (Dictionary<string, string>)ViewBag.SortData;
    string currentFilter = ViewBag.CurrentFilter;
    string currentSort = ViewBag.CurrentSort;
}

<!-- begin page-header -->
<h1 class="page-header">
    <a href="@Url.Action("Create", "NewsLetters", new { Area = "Administration" })" class="btn btn-icon btn-success" title="@Resources.UIText_Create @Resources.EntityLabel_NewsLetter"><i class="fa fa-plus"></i></a>
    @ViewBag.Title<small></small>
</h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
                <h4 class="panel-title">@Resources.UIText_SearchResults</h4>
            </div>
            <div class="panel-body">
                <table id="data-table" class="table table-hover table-striped table-bordered dataTable no-footer dtr-inline">
                    <thead>
                        <tr>
                            <th onclick="window.location = '@Url.Action("Index", new { page = 1, sortOrder = "", currentFilter = currentFilter, pageSize = Model.PageSize })';" title="Default Sort Order" style="cursor:pointer;">
                                @Resources.UIText_Actions
                            </th>
                            @Html.BapSortingHeaderFor(model => model.First().Title, sortData, currentSort, "Index", "NewsLetters", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                            @Html.BapSortingHeaderFor(model => model.First().Subtitle, sortData, currentSort, "Index", "NewsLetters", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                            @Html.BapSortingHeaderFor(model => model.First().ImagePath, sortData, currentSort, "Index", "NewsLetters", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                            @Html.BapSortingHeaderFor(model => model.First().PublishDate, sortData, currentSort, "Index", "NewsLetters", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                            @Html.BapSortingHeaderFor(model => model.First().Published, sortData, currentSort, "Index", "NewsLetters", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                            @Html.BapSortingHeaderFor(model => model.First().CreateDate, sortData, currentSort, "Index", "NewsLetters", "Administration", Model.PageNumber, currentFilter, pageSize: Model.PageSize)
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        <a title="@Resources.UIText_Details" style="text-decoration: none;" href="@Url.Action("Details", new {id=item.Id})">
                            <i class="glyphicon glyphicon-th-list" aria-hidden="true"></i>
                        </a>
                        <a title="@Resources.UIText_Edit" style="text-decoration: none;" href="@Url.Action("Edit", new {id=item.Id})">
                            <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                        </a>
                        <a title="@Resources.UIText_Delete" style="text-decoration: none;" href="@Url.Action("Delete", new {id=item.Id})">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                </tr>
                    }
                </table>
            </div>
        </div>
        <!-- end panel -->
        @if (Model.PageCount > 1)
        {
            <div class="row">
                <div class="col-sm-7">
                    <div class="dataTables_paginate paging_simple_numbers pull-left" id="data-table_paginate">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter, pageSize = Model.PageSize }))
                    </div>
                </div>
                <div class="col-sm-5">
                    <label class="pull-right" style="margin: 5px 0;">
                        Items per page <select id="data-table-length" name="data-table_length" aria-controls="data-table" class="form-control input-sm" onchange="OnpageSizeChange()">
                            <option value="5" @(Model.PageSize == 5 ? "selected" : "")>5</option>
                            <option value="10" @(Model.PageSize == 10 ? "selected" : "")>10</option>
                            <option value="15" @(Model.PageSize == 15 ? "selected" : "")>15</option>
                            <option value="20" @(Model.PageSize == 20 ? "selected" : "")>20</option>
                            <option value="50" @(Model.PageSize == 50 ? "selected" : "")>50</option>
                            <option value="100" @(Model.PageSize == 100 ? "selected" : "")>100</option>
                        </select>
                    </label>
                </div>
            </div>
        }
    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->

<script>
function OnpageSizeChange()
{
    var url = '@Url.Action("Index", new { page = 1, sortOrder = currentSort, currentFilter = currentFilter })';
    url = url.replace('&amp;', '&');
    url += "&pageSize=" + $('#data-table-length').val();
    window.location = url;
}
</script>
