@model BAP.eCommerce.DAL.Entities.ShippingOption
<div class="form-group">
    @Html.LabelFor(model => model.ShippingCarrier, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.ShippingCarrier.Name)
    </div>

    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Name)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MaxPrice, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.MaxPrice)
    </div>

    @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Enabled)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.ShortDescription)
    </div>
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-5 col-sm-5">
        @Html.DisplayFor(model => model.Description)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CustomConfigJson, htmlAttributes: new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-10 col-sm-10">
        @Html.DisplayFor(model => model.CustomConfigJson)
    </div>
</div>


