@using BAP.Resources
@model BAP.DAL.Entities.Blog

@{
    ViewBag.Title = Resources.UIText_Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured-section edit">
        <div class="container">
            <div class="clearfix">
                <h1 class="page-title"><span>@ViewBag.Title @Resources.EntityLabel_Blog </span></h1>
                <p>
                    <a href="@Url.Action("Index")"><i class="glyphicon glyphicon-hand-left"></i>@Resources.UIText_Back</a> |
                    <a href="javascript:window.print()"><i class="fa fa-print"></i> @Resources.UIText_Print</a>
                </p>
            </div>
        </div>
    </section>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="edit-box">
    <div class="form-horizontal">        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.LastModifiedBy)
    @Html.HiddenFor(model => model.TenantUnit)
    @Html.HiddenFor(model => model.TenantUnitId)
	@Html.HiddenFor(model => model.OwnerGroup)
    @Html.HiddenFor(model => model.OwnerPermissions)

	<!--Use this partial view instead of edit fields below if partial view is created -->
	@*Html.Partial("_EditFields")*@

        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.ShortDescription, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.MainImageUrl, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MainImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.BlogAuthorId, "BlogAuthorId", htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.DropDownList("BlogAuthorId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BlogAuthorId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label" })
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
            </div>
        </div>


		<!-- Read-only system fields -->
		<div class="form-group">
                <div class="col-md-2">@Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(model => model.CreatedByUserName, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedByUserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(model => model.LastModifiedDate, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastModifiedDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
			
            <div class="form-group">
                <div class="col-md-2">@Html.LabelFor(model => model.LastModifiedByUserName, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastModifiedByUserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
			<!-- End of read-only system fields -->

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resources.UIText_Save" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
	</section>
}
