@model BAP.DAL.Entities.Organization

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    @Html.LabelFor(model => model.BlogUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.BlogUrl, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-8 col-sm-8">
        @Html.Raw(Model.Description)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.TaxId, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.TaxId, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StatusDate, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.StatusDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.OrganizationType, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.OrganizationType, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AddressLine1, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.AddressLine2, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.City, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.County, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.County, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Country, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Zip, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PhoneExtension, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.PhoneExtension, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.FaxNumber, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.FaxNumber, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LogoPathUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-8 col-sm-8">
        @Html.DisplayFor(model => model.LogoPathUrl, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.FacebookUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.FacebookUrl, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    @Html.LabelFor(model => model.TwitterUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.TwitterUrl, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LinkedinUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.LinkedinUrl, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    @Html.LabelFor(model => model.GoogleplusUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.GoogleplusUrl, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Url, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.Url, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    @Html.LabelFor(model => model.InstagramUrl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.InstagramUrl, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ContactEmail, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.SupportEmail, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.SupportEmail, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ImplementedCulturesText, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.ImplementedCulturesText, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.HostName, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.HostName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.HostNameAliasesText, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.HostNameAliasesText, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.BapDefaultFromEmail, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.BapDefaultFromEmail, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BapDefaultContactEmail, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.BapDefaultContactEmail, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.SmtpUserName, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.SmtpUserName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SmtpUserPassword, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.SmtpUserPassword, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.SmtpHostName, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.SmtpHostName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SmtpPort, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.SmtpPort, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.SmtpUseSsl, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.SmtpUseSsl, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.reCaptchaSiteKey, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.reCaptchaSiteKey, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.reCaptchaSecretKey, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.reCaptchaSecretKey, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.GetBearrerTokenDuringLogin, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.GetBearrerTokenDuringLogin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.AuthCookieName, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.AuthCookieName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AuthCookieExpirationTime, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.AuthCookieExpirationTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.WebApiPublicClientId, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.WebApiPublicClientId, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.BearerTokenExpirationTime, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.BearerTokenExpirationTime, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.WebApiAllowInsecureHttp, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.WebApiAllowInsecureHttp, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PublicFolderText, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.PublicFolderText, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
    @Html.LabelFor(model => model.BaseFolderText, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.BaseFolderText, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CookiesPopupEnabled, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.CookiesPopupEnabled, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
    @Html.LabelFor(model => model.GdprPopupEnabled, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.GdprPopupEnabled, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CreatedByUserName, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.CreatedByUserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>

    @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LastModifiedByUserName, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-3">
        @Html.DisplayFor(model => model.LastModifiedByUserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>

    @Html.LabelFor(model => model.LastModifiedDate, new { @class = "control-label col-md-2 col-sm-2" })
    <div class="col-md-3 col-sm-">
        @Html.DisplayFor(model => model.LastModifiedDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
    </div>
</div>


